<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription page</title>
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <div class="login-form">
        <h2 class="title">Facturator</h2>
        <form>
            <div class="user-box">
                <input  class="title-input" type="text">
                <label>Adresse E-mail</label>
              </div>
              <div class="user-box">
                <input class="title-input" type="password">
                <label>Mot de passe</label>
              </div>
              <div class="user-box">
                <input class="title-input" type="password">
                <label>Confirmer le mot de passe</label>
              </div>
              <div class="btnCon">
                <button class="btn"><h3 class="btn-txt">Inscription</h3></button>
              </div>
        </form>
    </div>
  </body>
</html>