<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Données utilisateur</title>
    <link rel="stylesheet" href="style.css">
</head>
  <body>
    <div class="login-form">
        <h2 class="title">Vos données</h2>
        <form>
            <div class="user-box">
              <input  class="title-input" type="text" maxlength = "50" >
              <label>Nom</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="text" maxlength = "50">
              <label>Prénom</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="text" maxlength = "50">
              <label>Nom entreprise</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="text" maxlength = "200">
              <label>Adresse du siège</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="text" pattern="[0-9]{5}">
              <label>Code postal</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="text" maxlength = "50">
              <label>Ville</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="tel" pattern="^9[0-9]{7}">
              <label>Numéro de téléphone</label>
            </div>
            <div class="user-box">
              <input  class="title-input" type="text" pattern="[0-9]{14}">
              <label>Numéro Siret</label>
            </div>
            <div class="btnCon">
              <button class="btn"><h3 class="btn-txt">Valider</h3></button>
            </div>
        </form>
    </div>
  </body>
</html>